<div ng-controller="loginCtrl" class="inside" class="text-center">
    <form class="form-signin">
        <img class="mb-4" src="assets\img\microphone.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Username</label>
        <input ng-model="form.username" type="name" id="inputEmail" class="form-control" placeholder="Username" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input ng-model="form.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">

        <button ng-click="login()" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
         <div class="mb-4 mt-3" style="text-align: center">
            <a href="#!/recuperar-senha">I forgot my password</a>
        </div>
        <p  ng-if="invalid == true" class="mt-5 mb-3 text-muted">Invalid Username or Password</p>
    </form>
</div>