.imagem{
    background-image: url('../../../assets/img/piano_recorte.jpg'); 
}

.fundo{
    background-image: url('../../../assets/img/guitar.jpg');
}

.jumbotron{
    padding: 8rem 2rem;
}
.center {
    display: block;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    width: 50%;
  }
